
.weatherdk-form{
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
.weatherdk-form input{
    width: 72% !important;
    float: left;
}
.weatherdk-form button{
    width: 25%;
    height: 39px;
    margin-left: 1%;
    float: left;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    border-radius: 3px;
    webkit-border-radius: 3px;
}